:root{
 --fundo: #c0c0c0cb;
 --cor-frente: #000080;
 --cor-verso: #006400;
 --destaque: #B22222;
 --preto: #000000;
 --branco: #ffffff;
}

body{
background-color: var(--fundo);
}

footer{
 position: fixed;
 bottom: 0;
 background-color: var(--destaque);
}